*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif
}
.hero{
   width:100%;
   min-height: 100vh;
   background-image:url(img/desktop-wallpaper-black-backgrounds-black-shade.jpg);
   background-position: center;
   background-size: cover;
   overflow: hidden;
  
}
nav{
    padding 10px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
   

}
.logo{
    width:140px;
    
}
nav ul{
  animation-delay: 1s;
}
nav ul li {
    display:inline-block;
    
    margin: 10px 5px;
    list-style: none;
    background-color:whitesmoke;
    border-radius:25px;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color:red;
    animation-delay:1s;
}
.reg{
    text-decoration: none;
    background-color:red;
    padding: 10px;
    border-radius: 30px;
    margin-right: 30px;;
}
.reg a{
    text-decoration: none;
    color: whitesmoke;
}
section{
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    margin-top:100px;
}
p{
    margin-top:100px;
    width:80%;
    animation-delay:2s;
}
section h1{
    color: red;
    position: absolute;
    left:10%;
    animation-delay:2s;
}
.vid{
    width:700px;
     position: relative;
   left:400px;
   padding: 20px;
   animation-delay:1.5s;
     
      }

@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;
    }
  
    .logo {
      width: 120px;
    }
  
    nav ul li {
      margin: 20px 0;
    }
    .vid{
        position: relative;
      left:0;
        padding:20px;
         }
  
    .reg {
      margin-right: 0;
      position: absolute;
      right:50px;
      top:85px;
    }
  
    section h1 {
      left: 5%;
      position: ;
    }
  }
  
  
  @media (max-width: 480px) {
    .logo {
      width: 100px;
    }
  
    p {
      width: 100%;
    }
  
    section h1 {
      left: 0;
    }
    .vid{
        margin-left:0;
        position: relative;
        left:0;
    }
  }
  hr {
    border: none;
    height: 2px;
    background-color: #ccc; /* Default color */
    margin: 20px 0; /* Space above and below the line */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  nav ul li:hover {
    color: black;
    background-color: lightgray; /* Change background color on hover */
  }
  
  .reg:hover {
    background-color: darkred; /* Change background color of .reg on hover */
  }
  
  .reg a:hover {
    color: black; /* Change text color of .reg a on hover */
  }
  footer{
    color: white;
    position: relative;
    text-align: center;
    margin-bottom:100PX;
  }
 .instagram{
    display: inline-block;
    background-image:linear-gradient(135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
   text-decoration: none;
   border-radius: 30px;
   padding:10px;
   margin: 5px;
 }
 .instagram a{
    text-decoration: none;
    color:whitesmoke;
    transition:padding 2s;
 
 }
 .instagram:hover{
  padding: 13px;
  
}
.instagram a:hover{
     color:whitesmoke;

}
.anim{
  opacity:0;
  transform: translateY(30px);
  animation:moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}
